a {
  list-style: none;
}
body {
  margin-bottom: 20px;
}
h2 {
  text-align: center;
  font-size: 2.5em;
}
li {
  list-style: none;
}
.recipe-one a,
h2,
p,
h5,
h6 {
  margin: 50px;
}
.potatoesImg {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  /* height: 3%; */
}
h6 {
  font-size: 1.5em;
}
